#!/usr/bin/env bash
{% set local_address = hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
{% for zookeeper in zookeepers.instances %}
    {% if  local_address == zookeeper.network_interfaces[0].private_ip_address %}
        {%  set broker_id = zookeeper.tags.AnsibleBrokerIDSequence  %}
sudo zookeeper_config -E -S -i {{ broker_id }} -m {{zookeeper_memory}}m -n {{zookeepers_sequence}}
    {% endif %}
{% endfor %}


